name: ci
# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:

  push:
    branches:
    - "*"


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    name: test scripts
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: checkout dacstore
      uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install dacstore scripts
      run: |
        pip install -e . --no-deps

    - name: Check fetching
      env:
        SURVEY_HERO_USER: ${{ secrets.SURVEY_HERO_USER }}
        SURVEY_HERO_PASSWORD: ${{ secrets.SURVEY_HERO_PASSWORD }}
      run: |
        python scripts/fetch.py

    - name: Check plotting
      run: |
        python scripts/create-likert-plots.py
